

    <% include header.ejs %>
<nav class="justify">
    
    <ul class="nav justify-content-center grey lighten-4 py-4">
        <li class="nav-item">
            <a class="nav-link active" href="/">accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/books">books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movies-search ">movies search</a>
        </li>
        
    </ul>
</nav>
    
<div class=" tresor container" >
    <h1 align="center" class="decoration"><%= test %> </h1>  
        <p>juste un template pour tester la page des livres !!! </p>
        
        <div class="block">
            <div class="book-info row">
                    <div class="col-6 text-center">
                        <% let i = 0 ;%>
                        <table class="table box-center">
                            <thead>
                                <tr>
                                    <th scope="col" >numero</th>
                                    <th scope="col" >titre du roman</th>
                                    <th scope="col">auteur</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (romans of books) { %>
                                    <tr>
                                        <th scope="row"><%= i+=1 %></th>
                                        <td><%= romans.title %></td>
                                        <td><%= romans.author %></td>
                                    </tr>
                                <%  } %> 
                            </tbody>
                            <tr>
                                <td class="newBooksTd"><%= %></td>
                                <td class="newAuthorTd"><%= %></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-6 text-center">
                <form action="/books" method="post">
                    <label > titre du roman</label>
                    <input class="form-control"type="text" name="titre" id="titleB" >
                    <label > auteur du roman</label>
                    <input class="form-control success"type="text" name="auteur" id="auteurB">
                    <input type="submit" class="btn btn-outline-default" value="envoyer">
                </form>
            </div>
            </div>
           
        </div>
       
    </div>

    <!-- <script>
        const form = document.querySelector('form')
        form.addEventListener('submit',addBook)

        function addBook(e) {
            e.preventDefault();

            if (window.fetch) {
                fetch('/books',{
                method:'post',
                body: new FormData(form)
                })
                .then(checkStatus)
                .catch(function(error){
                    console.error('request failed', error)
                })
            } else {
                //
            }
        }
        function  checkStatus(response) {
            if (response.status >= 200 && response.status < 300) {
                let newBooksDiv = document.createElement('tr');

                const bookTitle = document.getElementById('titleB').value;
                const bookAuteur = document.getElementById('auteurB').value;
               // newBooksDiv.innerHTML = `${bookTitle} , ${bookAuteur} `;
                newBooksDiv.innerHTML="<td>"+bookTitle+"</td><td>"+bookAuteur+"</td>"
                document.querySelector('.newBooks').appendChild(newBooksDiv);
                form.reset();
            } 
        }

    </script> -->

    <!-- JQuery -->
<% include footer.ejs %>